* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --white: #fff;
  --greenishBg: #1a1e1f;
  --greyBg: #2b2b2b;
  --darkBg: #161616;
  --cyan: #00aef3;
}
/* container */
.container {
  max-width: 965px;
  margin: 0 auto;
}
/* container */
/* reusable class */
.line-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--greyBg);
  padding-bottom: 20px;
  flex-direction: column;
  cursor: pointer;
}
/* reusable class */
/* navbar */
nav {
  background-color: var(--greenishBg);
  font-family: "BPG Nino Mtavruli", sans-serif;
}
#navbar-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.8; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#navbar-scroll.sticky { 
  opacity: 0.8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.navbar-logo_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}
.navbar-logo {
  width: 45px;
  height: 40px;
}
.navbar-academy {
  color: var(--white);
  font-size: 20px;
  padding-bottom: 3px;
  letter-spacing: 3px;
}
.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
}
.nav-links li a {
  color: var(--white);
  line-height: 26px;
  font-size: 16px;
}
.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.navbar-x {
  font-size: 18px;
  color: var(--white);
  padding-bottom: 4px;
}
.navlink-active {
  color: #0d94e0 !important;
}
/* navbar */

/* banner  */
.banner-background {
  background: url(../assets/banner/banner.webp) 50% 50% / cover no-repeat;
  font: bold 16px Verdana, Geneva, Tahoma, sans-serif;
}
.banner-title {
  color: var(--white);
  font-size: 48px;
}
.banner-paragraph {
  color: var(--white);
  font-size: 34px;
}
.banner-content_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  padding-top: 150px;
  padding-bottom: 150px;
}
/* banner  */
/* article*/
.tbc-article {
  background-color: var(--greyBg);
  color: var(--white);
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 28px;
  line-height: 1.6em;
  padding-top: 60px;
  padding-bottom: 50px;
}
.article-learn_more {
  color: var(--cyan);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 500ms ease;
}
.article-learn_more:hover {
  color: #aaaaaa;
}
/* article */

/* courses */
.courses-container {
  background-color: var(--darkBg);
  color: var(--white);
  font-family: "BPG Nino Mtavruli", sans-serif;
  padding-top: 40px;
}
#course-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-bottom: 40px;
}
.course-card {
  border: 1px solid var(--greyBg);
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-family: "BPG Nino Mtavruli", sans-serif;
}
.course-title {
  font-size: 18px;
  padding-left: 20px;
}
.course-register {
  font-size: 14px;
  padding-left: 20px;
  font-weight: bold;
}
.course-details {
  font-size: 16px;
  padding-left: 20px;
  font-weight: bold;
  color: var(--cyan);
  padding-bottom: 20px;
  padding-top: 50px;
  cursor: pointer;
}
.course-main_title {
  padding-left: 5px;
  padding-bottom: 45px;
}
/* courses */
/* carousel */
.wrapper {
  display: flex;
  max-width: 1200px;
  position: relative;
  background-color: var(--greyBg);
  padding-top: 70px;
  padding-bottom: 70px;
}
.carousel-bg {
  background-color: var(--greyBg);
}
.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343f4f;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: var(--greenishBg);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover {
  background: #f2f2f2;
}
.wrapper i:first-child {
  left: -22px;
  display: none;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.carousel img {
  height: 71px;
  object-fit: cover;
  object-position: 50% 50%;
  user-select: none;
  margin-left: 14px;
}
.carousel img:first-child {
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}
.carousel-main_title {
  color: var(--white);
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 24px;
  padding-top: 40px;
}
/* carousel */

/* questions */
.questions_container {
  background-color: var(--darkBg);
  color: var(--white);
  font-family: "BPG Nino Mtavruli", sans-serif;
  padding-bottom: 40px;
}
.questions-title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 70px;
  letter-spacing: 2px;
}

.questions-title_wrapper a {
  color: var(--cyan);
  transition: all 500ms ease;
}
.questions-helper_div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content {
  display: none;
  padding: 10px;
  width: 100%;
}

.active .content {
  display: block;
}

.fa-chevron-down {
  transition: transform 0.3s;
}

.active .fa-chevron-down {
  transform: rotate(180deg);
}
.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.question-wrapper h1 {
  font-family: "BPG Nino Mtavruli", sans-serif;
  font-size: 19px;
  font-weight: lighter;
}
.questions-content_wrapper {
  padding-top: 40px;
  line-height: 2;
  font-size: 16px;
  font-family: "BPG Nino Mtavruli", sans-serif;
  letter-spacing: 1px;
}

.questions-content_repeat {
  line-height: 2;
  font-size: 16px;
  font-family: "BPG Nino Mtavruli", sans-serif;
  letter-spacing: 1px;
}
.content h2 {
  line-height: 2;
  font-size: 18px;
  padding-top: 10px;
}
.content-bold {
  font-weight: bolder;
}
.questions-title_wrapper a:hover {
  color: #ccc;
}
.footer-container {
  background-color: var(--greenishBg);
  font-family: "BPG Nino Mtavruli", sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo_content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer-logo_content p {
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
}
.footer-logo_content img {
  width: 106px;
  max-width: 100%;
  height: 30px;
}
.footer-bolder {
  font-weight: lighter;
  font-size: 17px;
}
.footer-icons_wrapper {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.footer-icons_wrapper img {
  cursor: pointer;
}
.footer-button {
  padding: 6px 30px;
  background-color: var(--cyan);
  color: var(--white);
  font-size: 18px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 500ms ease;
}
.footer-button:hover {
  background-color: #ccc;
  color: var(--greyBg);
}
.footer-icons_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* questions */
